<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Zachary Carpenter</title>
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> 
            <script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
        
            

            <!--                  START NAVBAR              -->
            <nav class="navbar navbar-dark navstyle navbar-expand-lg navbar-fixed-top">
                <div class="container">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class=" nav navbar-nav navbar-center">
                            <li class="nav-item active">
                                <a class="nav-link" href=""> HOME <span class="sr-only"> (current) </span> </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CODING <span class="caret"></span></a>
                                <ul class="dropdown-menu navDropdown dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <li class="navListItem"><a href="#"> KNN Machine Learning</a></li>
                                <li class="navListItem"><a href="#"> Sim City</a></li>
                                <li class="navListItem"><a href="#"> Virus Simulation</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WRITING <span class="caret"></span></a>
                                <ul class="dropdown-menu navDropdown dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <li class="navListItem"><a href="/postTemplate"> Isreal V Palestine</a></li>
                                <li class="navListItem"><a href="#"> Lorem </a></li>
                                <li class="navListItem"><a href="#"> Ipsum </a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> ABOUT <span class="sr-only"></span> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--                       END NAVBAR                      -->
    
    </head>
    <body>

    <!-- First bodywrapper inclduing bio and TypeIT text -->
    <div class="bodyWrapper">
        <div class="LRCollumn scrollnimate3" data-magic-number="2" ><img class="leftpic sidepic" id="box2" src="img/shel1.svg"></div>
        
        <div class="mainCollumn">
            <img src="img/back.svg" class="mepic">
            <h1 id="element"></h1>
            
            <p class="paragraph">
                I am currently a junior at the University of North Texas in Denton, pursuing a BS in computer science with a minor in mathematics.
            </p>
            
            <p class="paragraph">
                I am originally from Mansfield, TX but now live in Denton to attend university. Some of my hobbies include listening to music, reading, coding, and spending time with my friends. I also love to share my opinion so I write on occassion as well. 
                I've made this website to share some of the things I find interesting or want to learn about so please enjoy the content!
            </p>
        
        </div>
        <div class="LRCollumn scrollnimate3" data-magic-number="2"><img class="rightpic sidepic" id="box3" src="img/shel2.svg"></div>
    </div>

    <!-- Second bodywrapper inlcluding description of content-->
    <div class="bodywrapper">
        <div class="LRCollumn "> <img class="sidepic" src="img/triangle.svg"> </div>
        <div class="mainCollumn">
            
            <div class="scrollnimate" data-magic-number="-2">
                <h1 class="centerTitle underlined">Content</h1>
                
                <div class="splitBodyHeaders">
                    <a href="#">Coding</a>
                </div>

                <div class="splitBodyText">
                    In these posts I discuss the details of coding projects that I have done. Typically implemented in C++ and pertaining to data/computer science.
                </div>

                <div class="splitBodyHeaders">
                    Writing
                </div>

                <div class="splitBodyText">
                    Opinionated posts where I discuss whatever topics interest me. Generally music or philosophy but occasionally political.
                </div>

                <div class="splitBodyHeaders">
                    About
                </div>

                <div class="splitBodyText">
                    A little information about myself with my social media and handles from other platforms.
                </div>
                
            </div>
        </div>
        <div class="LRCollumn "> <img class="sidepic" src="img/triangle.svg"> </div>
        
    </div>
        
    </body>

    <script src="js/main.js"></script>

</html>
