<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Zachary Carpenter</title>
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> 
            <script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
        
            

            <!--                  START NAVBAR              -->
            <nav class="navbar navbar-dark navstyle navbar-expand-lg navbar-fixed-top">
                <div class="container">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class=" nav navbar-nav navbar-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="/index"> HOME <span class="sr-only"> (current) </span> </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CODING <span class="caret"></span></a>
                                <ul class="dropdown-menu navDropdown dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <li class="navListItem"><a href="#"> KNN Machine Learning</a></li>
                                <li class="navListItem"><a href="#"> Sim City</a></li>
                                <li class="navListItem"><a href="#"> Virus Simulation</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WRITING <span class="caret"></span></a>
                                <ul class="dropdown-menu navDropdown dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <li class="navListItem"><a href="/postTemplate"> Isreal V Palestine</a></li>
                                <li class="navListItem"><a href="#"> Lorem </a></li>
                                <li class="navListItem"><a href="#"> Ipsum </a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> ABOUT <span class="sr-only"></span> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--                       END NAVBAR                      -->
    
    </head>
    <body>
        
    <div class="titleBlock">
        <div class="postTitle">Isreal V Palestine</div>
        <img src="img/cartoon.jpg" class="postImage">
    </div>

    <!-- First bodywrapper inclduing bio and TypeIT text -->
    <div class="bodyWrapper">
        <div class="subTitleCollumn" >The Beggining</div>
        
        <div class="mainCollumn">
            
            <p class="paragraph">
                This conflict is multifaceted and very complex. Anyone that makes it out to be black and white is incredibly biased.
            </p>
            
            <p class="paragraph">
                
            </p>
        
        </div>
        <div class="LRCollumn"></div>
    </div>
        
    </body>

    <script src="js/main.js"></script>


</html>